*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url("src/bg.jpeg") no-repeat center center/cover; 
    height: 100vh;
    overflow: hidden;
}

/* taskkBar */

.taskbar{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    z-index: 110;
}

#righttaskbar{
    position: absolute;
    right: 0px;
    bottom: 1px;
    height: 40px;
}

#fileExplorer{
    width: 32px;
    height: 32px;
    margin: 5px 4px;
}

/* Start Menu */

#menu{
    width: 460px;
    border-radius: 4px;
}

.startmenu{
    position: absolute;
    bottom: -650px;
    text-align: center;
    width: 100%;
    transition: all 0.4s ease-in;
    z-index: 6;
}

/* Search Menu */

#searchBox{
    width: 545px;
    border-radius: 4px;
}

.searchmenu{
    position: absolute;
    bottom: -650px;
    text-align: center;
    width: 100%;
    transition: all 0.4s ease-in;
    z-index: 6;
}

/* Widget Menu */

#widgetBox{
    height: 94.5vh;
    border-radius: 4px;
}

.widgetmenu{
    position: absolute;
    left: -950px;
    /* text-align: center; */
    width: 100%;
    transition: all 0.6s ease-in;
    z-index: 6;
}

/* File Explorer */

#fileManager {
    width: 600px;
    border-radius: 4px;
}

.filemenu {
    margin-top: 23px;
    position: absolute;
    left: 0px;
    bottom: 25px; /* Positioning 25px away from the bottom */
    text-align: center;
    width: 100%;
    transition: all 0.3s ease-in;
    z-index: 5;
    border-radius: 10px;
}


/* File Explorer */

#store{
    width: 800px;
    border-radius: 4px;
}

.microsoftstore{
    position: absolute;
    left: 0px;
    top: -800px;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease-in;
    z-index: 5;
}

/* Desktop Icon */

.icon{
    margin: 6px;
    width: 60px;
    height: 45px;
    text-align: center;
    position: fixed;
    font-size: 12px;
    font-family: 'Segoe UI Semibold';
}

.icon img{
    width: 45px;
    margin: 2px;
}

#edge{
    margin-top: 162px;
}

#recyclebin{
    margin-top: 78px;
}

#vlc{
    margin-top: 234px;
}

.browser {
    display: none;
    margin: 0 auto; 
    padding: 0; 
    font-family: 'Arial', sans-serif; 
    background-color: #fff; 
    width: 50%;
    border-radius: 12px;
    position: relative; /* or 'absolute' depending on your layout */
    bottom: 12pc; /* Position 30px above the bottom */
}


/* Other CSS styles remain unchanged */


.myflask { 
    margin-left: 2px; 
} 

.site-navigation { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
    padding: 10px 10px; 
    justify-content: space-between; 
    background-color: transparent; 
    position: fixed; 
    font-size: 15px; 
} 
  
#google_image { 
    height: 250px; 
} 
  
.header-container { 
    width: 90vw; 
    display: flex; 
    justify-content: flex-end; 
    padding: 10px 10px; 
    align-items: center; 
    gap: 10px; 
} 
  
.nav-link:hover { 
    text-decoration: underline; 
} 
  
.sign-in-btn { 
    padding: 10px 25px; 
    margin-left: 10px; 
    font-size: 15px; 
    background-color: rgb(67, 132, 244); 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
} 
  
.sign-in-btn:hover { 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    background-color: rgb(35, 113, 249); 
    text-decoration: none; 
} 
  
/* Main section styling */
main { 
    padding: 10px; 
    height: 80vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #fff; 
} 
  
/* Search Input Section styling */
.search-input-section { 
    border: 1px solid rgb(200, 200, 200); 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    width: 40vw; 
    background-color: white; 
    margin-top: -20px; 
    margin-bottom: 30px; 
    border-radius: 30px; 
    padding: 5px 10px; 
    height: 37px; 
    box-shadow: 0 4px 3px rgba(197, 197, 197, 0.3); 
} 
  
.mic-icon { 
    height: 30px; 
} 
  
.search-input { 
    border: none; 
    font-size: 20px; 
    width: 100%; 
} 
  
.search-input:focus { 
    outline: none; 
} 
  
.search-input-container { 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
} 
  
.search-input-container input { 
    margin-left: 10px; 
} 
  
/* Buttons Section styling */
.buttons-section { 
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
} 
  
.google-search-btn, 
.feeling-lucky-btn { 
    font-size: 1rem; 
    color: #5c5c5c; 
    font-weight: 100; 
    padding: 10px 20px; 
    background-color: white; 
    border: none; 
} 
  
.google-search-btn:hover, 
.feeling-lucky-btn:hover { 
    border: 1px solid rgb(214, 214, 214); 
    box-shadow: 0 2px 2px rgba(162, 162, 162, 0.3); 
    border-radius: 5px; 
} 
  
.customize_size { 
    position: absolute; 
    top: 93vh; 
    left: 87vw; 
    background-color: rgb(191, 212, 250); 
    padding: 10px; 
    border-radius: 30px; 
    color: black; 
    font-size: 13px; 
} 
  
i { 
    margin-right: 2px; 
} 
  
.gsb { 
    height: 20px; 
}